.svg__contact {
  width: 80%;
  height: 70%;
}

.Contact {
  padding: 0rem 3rem 3rem;
}

.title_detail {
  width: 70%;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 500;
}

.title__detail__div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem 0rem;
}
